body
{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	background-color: rgb(77,76,78);

}



*,
*:before,
*:after 



{
	box-sizing: border-box;
}



h1,h2,h3,h4,h5,h6
{
	margin: 0;
}



.container
{
	width: 100%;
	max-width: 1288px;
}



.Start
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 50vh;
	background: url('../img/Header.png') center
	no-repeat;
	background-size: cover;
}



.start_inner
{
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}



.start_title
{
	margin-right: 30%;

	font-size: 60px;
	color: #fff;
	text-align: center;
	line-height: 1;
}



.Header
{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding-top: 35px;

}



.header_inner
{
	display: flex;
	justify-content: flex-end;
}



.logo
{
	margin-top: -116px;
	margin-left: -243px;
	padding: 0px;
	/*
	margin-left: -2%;
	margin-top: 7%;*/
}



.navigation
{
	position: fixed;
	z-index: 1000;
	transform: translate3d(0,0,0);
	font-size: 16px;
	text-transform: uppercase;
}



.navigation_links
{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
}



.navigation_links:hover 
{
	color: rgb(84,179,170);
}



.section
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 80px 0;
}



.section_header
{
	text-align: center;
}



.section_title_work
{
	margin-left: 650px;
	font-size: 30px;
	padding: 10px;
	background:  rgb(84,179,170);
	color: #fff;
	margin-bottom: 70px;
}



.section_content
{
	margin: 10px auto 0;
	height: 350px;
	width: 900px;
	background: rgb(102,108,145);
}



.section_title_about
{
	margin-right: 650px;
	font-size: 30px;
	padding: 10px;
	background:  rgb(84,179,170);
	color: #fff;
	margin-bottom: 60px;
}



.section_content_text
{
	margin: 10px auto 0;
	height: 535px;
	width: 900px;
	background: rgb(102,108,145);
}



.text_about
{
	padding: 30px;
	font-size: 18px;
	color: #fff;
	text-align: left;
	word-wrap: normal;
	line-height: 2;
}



.enter_data
{
	margin: 10px auto 0;
	margin-top: 80px;
	margin-bottom: 80px;
	height: 120px;
	width: 900px;
	background: rgb(84,179,170);
}



form
{
	 display: flex;
	 justify-content: center;	
}



input
{
	height: 30px;
	margin: 20px;
	outline: none;
	color: rgb(102,108,145);
    border: none;
    font-size: 22px;
    background: #fff;
  	padding: 10px;
  	border-radius: 12px;
}



.button_call
{
	display: flex;
	justify-content: center;
	position: absolute;
	margin-top: 90px;
	color: #fff;
	background: rgb(84,179,170);
	border: none;
	outline: none;
	font-size: 20px;
}



.button_call:hover
{
	color: rgb(102,108,145);
}



::placeholder
{ 
	color: rgb(102,108,145);
	font-size: 22px;
}



.section_title_work_years
{
	margin-top: 90px;
	border: none;
	outline: none;
	margin-right: 650px;
	font-size: 30px;
	padding: 10px;
	background:  rgb(84,179,170);
	color: #fff;
	margin-bottom: 60px;
}



.section_title_partners
{
	margin-left: 650px;
	font-size: 30px;
	padding: 10px;
	background:  rgb(84,179,170);
	color: #fff;
	margin-bottom: 70px;
}



.section_grid
{
	margin: 10px auto 0;
	height: 400px;
	width: 900px;
	background: rgb(102,108,145);
}



.grid
{
	padding: 20px;
	padding-top: 55px;
	display: grid;
	grid-template-columns: 280px 280px 280px;
	grid-auto-rows: 140px;
	grid-gap: 10px;
}



.grid div
{
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 8px 15px;
	color: #fff;
	font-size: 18px;
}



.grid:hover
{
	cursor: pointer;
}




.section_title_contacts
{
	margin-right: 650px;
	font-size: 30px;
	padding: 10px;
	background:  rgb(84,179,170);
	color: #fff;
	margin-bottom: 60px;	
}

.contact
{
	display: flex;
	justify-content: space-between;
	margin: 10px auto 0;
	height: 400px;
	width: 900px;
	background: rgb(102,108,145);
}



.contact iframe
{
	margin: 20px;
	margin-top: 40px;
}



.contact h4
{
	margin-left: 60px;
	font-size: 26px;
}



.work_time 
{
	margin: 40px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	color: #fff;
 	font-size: 20px;
}



.phone
{
	color: rgb(84,179,170);
}



.footer 

{
	height: 100px;
 	background: rgb(102,108,145);
}




.social_networks
{
	padding: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.social_networks:hover
{
	cursor: pointer;
}






.air-slider
{
	position:relative; 
	margin: 0 auto;
}



.air-slider .slide
{
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	opacity:0;
	-webkit-transition:1s ease all;
	transition:1s ease all;
	background:#ccc
}



.air-slider .slide img
{
	width:100%;
	height:100%
}



.air-slider .active-slide
{
	opacity:1
}



.air-slider .controls
{
	width:100%;
	height:50px;
	top:calc(50% - 25px);
	left:0;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row nowrap;
	-ms-flex-flow:row nowrap;
	flex-flow:row nowrap;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	position:absolute
}

.air-slider .controls button
{
	width:50px;
	height:50px;
	background: black;
	color:#fff;
	border:none;
	outline:none;
	cursor:pointer;
	
}